{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Acerca de Mí
{% endblock titulo %}

{% block contenido %}
    <div class="container">
        <h2>Acerca de Mí</h2>
        <p>Soy una persona a la que le apasiona viajar y explorar nuevos lugares. Actualmente, vivo en Santiago de Chile, una ciudad llena de cultura y belleza natural.</p>
        <p>En mi vida profesional, trabajo en una emocionante startup donde desempeño el rol de Product Owner. Aunque mi formación no es en desarrollo de software, me apasiona la programación y la tecnología.</p>
        <p>Tomé el curso de Python en Coder para ampliar mis conocimientos y comprender mejor el mundo de la programación. Me emociona seguir aprendiendo y creciendo en este campo fascinante.</p>
    </div>
{% endblock contenido %}